# Server
PORT=3000
NODE_ENV=development

# PostgreSQL
DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/DATABASE_NAME?schema=public

# JWT
JWT_SECRET=your-secret-key
JWT_EXPIRES_IN=7d

# Redis
REDIS_URL=redis://localhost:6379

# Client
CLIENT_URL=http://localhost:5173

# Email
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password